/* Contenedor principal */
#componenteInfoGeneral {
    font-family: "Pixelify Sans", sans-serif;
    color: #333;

    width: 100%;
    max-width: 800px;

    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
    transition: all 0.3s ease;
}

#componenteInfoGeneral h2 {
    color: #222;
}

#componenteInfoGeneral p {
    font-family: "Nunito Sans", sans-serif;
    color: #555;

}