@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: fit-content;
    width: fit-content;

    padding: 20px;
    margin: 5px;

    background-image: url("https://res.cloudinary.com/juegoporturnosdaw-img/image/upload/v1746988498/fondoTarjeta_iyg022.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.nombre {
    font-family: "MiFuente", sans-serif;
    font-size: 0.9em;
}

.fondo {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://res.cloudinary.com/juegoporturnosdaw-img/image/upload/v1746989043/fondoSlot_duhivg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}


.contenedorSprite {
    width: 100px;
    height: 150px;
}

/* Estilos de la información adicional */
.datos {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.datos .titulo {
    font-family: "MiFuente", sans-serif;

    margin: 0;
    padding: 0;

    font-size: large;
    font-weight: bold;
}

.datos .descripcion {
    font-family: "Pixelify Sans", sans-serif;

    height: 80px;

    margin: 0;
    padding: 0;
}

.datos button {
    width: 60%;

    margin-right: 10px;
    margin-top: 10px;

    align-self: flex-end;
}

.verBTN {
    cursor: pointer;

    font-size: 0.9em;

    background-color: #e2c16b;
    border: #e2c16b;
    border-radius: 5px;

    padding: 2px;
}

.verBTN:hover {
    background-color: #e7ca81;
}
